ENV=dev
FRONTEND_URL=http://localhost:3000
HOSTNAME=localhost
ENVIRONMENT=development
SERVICE=platform-signals
VERSION=0.1.0
STATUS_PREFIX=/status
REDIS_HOST=redis
REDIS_PORT=6379
VARNISH_HOST=varnish
VARNISH_PORT=6081
